input,
textarea {
  border: 0;
}

.addBook {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 10fr;
  min-width: 500px;

  >input {
    min-height: 30px;
  }
}

.addBookLabel {
  grid-column: 1 / 11;
  display: flex;
  align-items: center;
  justify-content: space-between;

  textarea {
    min-width: 300px;
    resize: horizontal;
  }

  input,
  textarea,
  >div {
    padding: 2px;
    min-height: 30px;
    width: 80%;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 5px dashed rgba(0, 0, 0, 0.15);

    &:hover {
      cursor: pointer;
      background-color: #444;
      border-color: rgb(0, 0, 0);
    }
  }
}

.addBook_button {
  grid-column: 1 / 3;
  font-size: 20px;
  border: 0;
  padding: 10px 0;
  cursor: pointer;
  transition: box-shadow .15s;
  background-color: rgb(59, 109, 104);

  &:hover {
    box-shadow: inset 0 0 20px 1px rgb(235, 223, 223);
  }
}

@media (max-width: 640) {
  .addBookLabel textarea {
    max-width: 510px;
  }
}